.about{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1030px ;
    min-width: 430px;

    padding-top: 50px;
}
.about h1{
    margin: 0;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    font-size: 50px;
    text-align: start;
}
.about p{
    line-height: 2;
    color: grey;
    margin-top: 2rem;
    font-size: 20px;
}